@model PageViewModel<BasePage>
@using System.Threading
@using JaxonFoundation.Logic.ViewModels
@using JaxonFoundation.Logic.Models.Pages.Base



<!DOCTYPE html>
<html lang="@Model.LanguageCode" style="background:white">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<!body>

<main id="main">
        @RenderBody()
</main>
</!body>
</html>
